/* Role Permissions */

table.role-permissions {
	text-align: center;
	width: 100%;
	margin-bottom: 2em;
	border: 1px solid #ddd;
	padding: 0;
}

table.narrow {
	width: 30%;
}


table.role-permissions th:first-child {
	text-align: left;
}

table.role-permissions th {
	background-color: #d6d4c8;
	padding: 5px
}

table.role-permissions tr td {
	background-color: #f5f5f5;
	padding: 5px;
}

table.role-permissions tr.odd td {
	background-color: #fff;
}

table.role-permissions td:first-child {
	text-align: left;
}

table.role-permissions td.add {
	width: 50px;
}

table.role-permissions tr.selected td {
	color: #222;
}

table.role-permissions tr.selected.odd td {
	background-color: #fff !important;
}

table.role-permissions tr.selected td {
	background-color: #f5f5f3 !important;
}

/* Slider */

table.role-permissions .edit, table.role-permissions .delete {
	width: 325px;
}

table.role-permissions td .slider, table.role-permissions td .global-slider {
	float: left;
	margin: 0 10px;
	width: 200px;
}

table.role-permissions td span {
	float: right;
	width: 95px;
	text-align: right;
	font-weight: bold;
	color: #C6C4B8;
}

	table.role-permissions td span.perm-0 {color:#C6C4B8;}
	table.role-permissions td span.perm-1 {color:#868478;}
	table.role-permissions td span.perm-2 {color:#464438;}

/* Role Operations */

#role-operations {
	background-color: #d6d4c8;
	width: 100%;
	margin-bottom: 1em;
}

#role-operations tr.odd td {
	background-color: #d6d4c8;
}

#role-operations td {
	padding: 10px;
	border-bottom: 1px solid #fff;
	text-align: right;
	width: 100px;
}

#role-operations tr td + td {
	text-align: center;
	width: auto;
}

#role-operations tr td + td + td {
	width: 10%;
	text-align: center;
}

#role-operations input {
	width: 70px;
}
